{% extends "blog_base.html" %}
{% block head %}
{% load staticfiles %}

	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/base.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/get_blog.css' %}" />
	
{% endblock %}
{% block content %}
{% for blog in blogs %}
<div class="blog_item">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="blog_header">
				<a href= "{% url 'blog_get_detail' blog.id %}"><h3>{{ blog.title }}</h3></a> 

				<span class="blog_created" >发布时间：{{ blog.created|date:"Y-m-d H:i" }}</span>
				<span class="dc_sep">/</span></small>
				<span class="blog_category" >{{ blog.category.name }}</span>
			</div>
		</div>

		<div class="panel-body">
		    <div class="blog_content">
			    <p> {{ blog.content|truncatechars:300 |safe}}</p>
		     </div>
				<a class="continue" href="{%url 'blog_get_detail' blog.id % }" style="padding-top:15px font-size:16px">继续阅读>></a>
		</div>
	</div>
</div>
{% endfor %}

<div class="footer">
	<ul class="pagination">
		{% if  blogs.number > 1 %}
		<li class="page_btn">
			 <a   href="?page=1" ><<</a>
		</li>
		{% endif %}

		{% if blogs.has_previous %}
		<li class="page_btn">
			<a href="?page={{ blogs.previous_page_number }}"><</a>
		</li>
		{% endif %}
	
		{% if blogs.has_second_prev %}
		<li class="page_btn">
			<a href="?page={{ blogs.second_prev_page_number }}">{{ blogs.second_pre_page_number }}</a>
		</li>
		{% endif %}

		{% if blogs.has_previous %}
		<li class="page_btn">
			<a href="?page={{ blogs.previous_page_number }}">{{ blogs.previous_page_number }}</a>
		</li>
		{% endif %}

		<li class="page_btn active" id="cur_page">
			 <a   href="?page={{ blogs.number }} " >{{ blogs.number }} </a>
		</li>

	
		{% if blogs.has_next %}
		<li class="page_btn">
			<a   href="?page={{ blogs.next_page_number }}" >{{ blogs.next_page_number }}</a>
		</li> 
		{% endif %}
		
		{% if blogs.has_second_next %}
		<li class="page_btn">
			<a   href="?page={{ blogs.second_next_page_number }}" >{{ blogs.second_next_page_number }}</a>
		</li> 
		{% endif %}

		{% if blogs.has_next %}
		<li class="page_btn">
			<a   href="?page={{ blogs.next_page_number }}" >></a>
		</li> 
		{% endif %}
		{%if blogs.number < blogs.paginator.num_pages %}
		<li class="page_btn">
			<a   href="?page={{ blogs.paginator.num_pages }}" >>></a>
		</li> 
		{% endif %}

	</ul>
		

		
</div>

{% endblock %}

