{% extends "base.html" %}
{% block head %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'blog/css/base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/detail.css' %}" />
<script type="text/javascript" src ="{% static 'blog/js/comment_action.js' %}">
</script>
<title>{{ blog.title }}</title>

{% endblock%}

{% block content %}

        <div class="panel panel-default">
                <div class="panel-heading">
                          <div class="blog_header">
                                  <a href= "{% url 'blog_get_detail' blog.id %}"><h2>{{ blog.title }}</h2></a> 
                                  <span>
                                      发布时间：{{ blog.created|date:"Y-m-d H:i" }}
                                  </span>
                          </div>
                 </div>

                 <div class="panel-body">
                          <div class="blog_content">
                                  <p> {{ blog.content }}</p>
                           </div>
                 </div>
        </div>
        


        <div class="panel panel-default">
                <div class="panel-heading">
                        <h4>新的评论</h4>
                </div>

                <div class="panel-body">
                        <div class="row">
                                 <div class="col-md-12">
                                            {% load comments %}
                                            {% get_comment_form for blog as blog_form %} 
                                           <form class="form-horizontal" onsubmit="return false;" method="post" id="comment_form">
                                            {% csrf_token %}
                                            {{ blog_form.object_pk }}
                                            {{ blog_form.content_type }}
                                            {{ blog_form.timestamp }}
                                            {{ blog_form.security_hash }}
                                            <input type="hidden" name="next" value="{% url 'blog_get_detail' blog.id %}"/>
                                            <input id="reply_to" type="hidden" name="reply_to" value="0" />
                                            <input id="root_id" type="hidden" name="root_id" value="0" />
                                            <input id="reply_name" type="hidden" name="reply_name" value=""/>

                                            <a name="newcomment" id="newcomment"></a>

                                            <div class="control-group">
                                                <label class="control-label" for="id_comment">评论： </label>
                                                <div class="comment_form_display">
                                                    <textarea class="input-xlarge comment" rows="5" id="id_comment" name="comment" placeholder="请输入评论内容"></textarea>
                                                </div>
                                            </div>

                                            <div   class="control-group">
                                                    <label for="id_name">名称： </label>
                                                    <input type="text" id="id_name" class="input-xlarge" name="name" placeholder="请输入您的用户名" />
                                                    <label for="id_email">邮箱： </label>
                                                    <input class="input-xlarge" id="id_email" type="email" name="email" placeholder="请输入您的邮箱地址"  />
                                            </div>
                                            <div class="control-group">
                                                    <button id="submit_btn" class="btn btn-info">提交</button>
                                                    <button id="delete_btn" class="btn btn-default">清空</button>
                                            </div>

                                            <p style="display:none;">
                                                      <label for="id_honeypot">如果你在该字段中输入任何内容，你的评论就会被视为垃圾评论。</label> <input type="text" name="honeypot" id="id_honeypot">
                                            </p>

                                           </form>
                                  </div>
                        </div>
                </div>
        </div>

      
        <div class="panel panel-default">
                <div class="panel-heading">
                      <h4>评论列表</h4>
                </div>
             
                <div class="panel-body" >
                          {% get_comment_list for blog as comments %}
                          <span id="comment_start"></span>
                          {% for comment in comments %}
                          <div class="blog_comment" name="F{{comment.id}}">
                                  <p class="comment_title">
                                      {{comment.submit_date|date:"Y-m-d H:i"}}  |  {{comment.user_name}} 评论
                                  </p>
                                  <p class="comment_content"
                                     root='{{comment.id}}'
                                     role='{{comment.id}}'
                                     base='{{comment.user_name}}'>
                                     {{ comment.comment }}
                                  </p>

                                  <ul class="comment_reply">
                                      {% for reply in comment.replies %}
                                          <li root='{{reply.root_id}}'
                                              role='{{reply.id}}'
                                              base='{{reply.user_name}}'>
                                              {{reply.user_name}} 回复 {{reply.reply_name}} ({{ reply.submit_date|date:"Y-m-d H:i"}})：{{ reply.comment }}
                                          </li>
                                      {% endfor %}
                                  </ul>
                          </div>
                              
                          {% endfor %}
                </div>
        </div>
          <!--  {% get_comment_form for blog as blog_form %} 
       <form   class="form-horizontal" onsubmit="return false;" method="post" id="reply_form" style="display:none;text-indent:0;">
        {% csrf_token %}
        {{ blog_form.object_pk }}
        {{ blog_form.content_type }}
        {{ blog_form.timestamp }}
        {{ blog_form.security_hash }}
        <input type="hidden" name="next" value="{% url 'blog_get_detail' blog.id %}"/>
        <input id="reply_reply_to" type="hidden" name="reply_to" value="0" />
        <input id="reply_root_id" type="hidden" name="root_id" value="0" />
        <input id="reply_reply_name" type="hidden" name="reply_name" value=""/>

        <div class="control-group">
                <label class="control-label" for="reply_id_comment">回复： </label>
                <div class="comment_form_display">
                    <textarea class="input-xlarge comment" rows="6" id="reply_id_comment" name="comment" placeholder="请输入评论内容"></textarea>
                </div>
        </div>

        <div   class="control-group">
                <label for="reply_id_name">名称： </label>
                <input type="text" id="reply_id_name" class="input-xlarge" name="name" placeholder="请输入您的用户名" />
                <label for="reply_id_email">邮箱： </label>
                <input class="input-xlarge" id="reply_id_email" type="email" name="email" placeholder="请输入您的邮箱地址"  />
        </div>
        <div class="control-group">
                <button id="reply_submit_btn" class="btn btn-info">提交</button>
                <button id="reply_delete_btn" class="btn btn-default">清空</button>
        </div>

        <p style="display:none;">
                  <label for="reply_id_honeypot">如果你在该字段中输入任何内容，你的评论就会被视为垃圾评论。</label> <input type="text" name="honeypot" id="reply_honeypot">
        </p>

       </form>                 -->
{% endblock %}
