body{
	font-size: 19px;
	font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
	line-height: 2em;
}
.container{
	margin-top: 80px;
	width:90%;

}

.tags{
	
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: #DDD;
}

.catogry_title{
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #DDD;
}
