.navbar ,.navbar-brand{
	font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
	font-size: 20px!important;
}
.container{
	font-size: 19px;
	font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
	line-height: 2em;
}
.container{
	margin-top: 100px;
	width:90%;

}

.tags{
	
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: #DDD;
}

.catogry_title{
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #DDD;
}
 .back_to_top{
 	position:fixed;
 	right:40px;
 	bottom:50px;
 	z-index:100;
 	display:block;
 }
 .back_to_top a{
  	display:block;
	font-weight:bold;
	font-size:14px;
	color:##A0A0A0!important;
	background-color:#F5F5F5;
	width:120px;
	text-align:center;
	padding:4px;
	text-decoration:none;
	margin-bottom:10px;
 }
