body{
	font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, sans-serif;
}
a{
	color: #005059;
}
 ul ,li
 {
 	list-style-type: none;
 	padding-left: 0;
 }


.container{
	font-size: 14px;
	line-height: 2em;
	margin-top: 100px;
	width:95%;
}
.col-md-8{
	margin-right: 50px;
}
#search-button{
	display: table-cell;
	height:38px;
	width:17%;
}
.input-group{
	width:100%;
	margin-bottom: 30px;
}
.input-group .form-control{
	width:82%;
	height:38px;
}
.tags .panel,.tags .panel-default{
	
	border-style:none;

	box-shadow: none;
}



.tags .panel-body{
	padding-left: 25px;
	border-style:none;
}
/*#category_title{
	text-align: center;
}
*/
.category_item{
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #DDD;
	margin-bottom: 30px;
	padding-bottom: 10px;
	font-size:20px;
}
 .back_to_top{
 	position:fixed;
 	right:40px;
 	bottom:50px;
 	z-index:100;
 	display:block;
 }
 .back_to_top a{
  	display:block;
	
	font-size:14px;
	color:##A0A0A0!important;
	background-color:#F5F5F5;
	width:120px;
	text-align:center;
	padding:4px;
	text-decoration:none;
	margin-bottom:10px;
 }

