.container{
	margin-top: 80px;
}
.control-group{
	margin-bottom: 20px;
}

#id_comment{
	width:100%!important;
}

#id_name ,#id_email{
	border-style: none;
	border-bottom-style:solid;
	border-bottom-width:2px;
	margin-right: 30px;
	width:40%;
}

#submit_btn,#delete_btn{

	margin-right: 15px;
}
.tags{
	
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: #DDD;
}
.catogry_title{
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #DDD;
}