body{
	font-family: DengXian, 'Microsoft Yahei', Tahoma, Arial, Helvetica, Simsun, STHeiti!important;
	background-color:#EEF5F7 !important;
	line-height:2em!important;
	font-size:2em !important;
}

a{
	color: #005059!important;
}

.content{
 margin-right:50px ;
 margin-left:30px;
}

.float_rt{
	float:right;
}
@media screen and (max-width: 850px){
.right_panel 
{
    width: 100% !important;
    min-width: 250px;
    padding-left: 20px !important;
}
 right_panel input{
 	width:80%;
 }

}


.right_panel {
    	width:20%;
    	min-width: 250px;
}
#search_img{

	width:3em;
}


 .right_panel #search_content{
 	display:inline;
	border-style:none;
	padding-bottom: 15px;
	border-bottom-color: #dddddd;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	text-align: center;
	background-color:#EEF5F7 !important;
 }

.category_panel{
	padding-top: 20px;
}
.category_header{
	color: #1c1c1c;
}


.category_item
{
	padding: 20px 0px;
	border-bottom-color: #dddddd;
	border-bottom-style: solid;
	border-bottom-width: 2px;

}
@media screen and (max-width: 850px){
.left_panel{
	width:100% !important;
	padding-left: 20px;
	padding-right: 20px;
}
}

.left_panel{
	width:65%;
	min-width: 320px;
	padding-left: 20px;
}
.float_lt{
	float:left;
}

.content{
	padding-top: 30px;
}
.blog_box{
	margin-bottom:2em;
}
.blog_title{
	color: #005059!important;
	padding-top: 10px;
}
.blog_box .author {
	font-size: 0.5em;
}
.blog_summary{
	padding-top: 10px;
	padding-bottom: 10px;
	color: #555454!important;
}
 .blog_created {
	color: #ff8f21 !important;
 }
 .blog_category{
 	font-weight: bold;
 	color: #005059!important;
 }
 .dc.sep{
 	padding:0 10px;
 }


.pagination ul {
	list-style-type:none;
	margin:10px 10px;
	padding:0!important;

}
 .pagination li{
 	display:inline-block;
 	padding:10px 10px;
 	margin-right:10px;
 	text-align:center!important;
 	width:60px;
  	background-color:#9ABCC5;

 } 
 .pagination a{
	color:#FFFFFF!important;

}

.pagination ul  #cur_page {
	background-color: #005059 !important;
}

 
 
 .back_to_top{
 	position:fixed;
 	right:40px;
 	bottom:50px;
 	z-index:100;
 	display:block;
 }
 .back_to_top a{
  	display:block;
	font-weight:bold;
	font-size:14px;
	color:#FFFFFF!important;
	background-color:#9ABCC5;
	width:120px;
	text-align:center;
	padding:4px;
	text-decoration:none;
	margin-bottom:10px;
 }
 
